<header>
    <span> Node <em>&</em> Express </span>
    <nav>
      <a href="/">Main page</a>
      <a href="/about">About page</a>
    </nav>
    <form>
      <input type="text" placeholder="User name"> 
      <button> Search </button>
    </form>
  </header> 