<header>
    <span> Node <em>&</em> Express </span>
    <nav>
      <a href="/">Main page</a>
      <a href="/about">About page</a>
    </nav>
    <form method="post" action="/check-user">
      <input type="text" name="username" placeholder="User name"> 
      <button type="submit"> Search </button>
    </form>
  </header> 